/* Optional: Responsive tweaks or custom styling */
table th, table td {
  vertical-align: middle;
}

button.btn-sm {
  min-width: 75px;
}

/* Mobile optimization */
@media (max-width: 576px) {
  .table-responsive {
    font-size: 0.9rem;
  }

  button.btn-sm {
    min-width: 100%;
    margin-bottom: 6px;
  }

  td, th {
    text-align: center;
  }
}
