/* You can add global styles to this file, and also import other style files */
.bg-violet {
  background: linear-gradient(to right, #8e2de2, #4a00e0) !important;
}

.text-violet {
  color: #4a00e0 !important;
}

.border-violet {
  border: #4a00e0 1px solid !important;
}

.btn-violet {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: white !important;
}

.btn-violet:hover {
  background-color: #5a35a4 !important;
}

.dropdown-menu.bg-violet .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
