<p>viewbrand.component works!</p>
<div class="brand-container">
  <h2>Brand List</h2>

  <table *ngIf="brand.length > 0; else noBrands" class="brand-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Brand Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of brand; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>
          <button (click)="updateEmp(item._id)">Edit</button>
          <button (click)="deleteBrand(item._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noBrands>
    <p>No brands available.</p>
  </ng-template>
</div>
