

<table mat-table [dataSource]="product" class="mat-elevation-z8" style="width: 100%;">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let product">{{ product.name }}</td>
  </ng-container>

  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef>Brand</th>
    <td mat-cell *matCellDef="let product">{{ product.brand }}</td>
  </ng-container>

  <ng-container matColumnDef="stock_qty">
    <th mat-header-cell *matHeaderCellDef>Stock</th>
    <td mat-cell *matCellDef="let product">
      <span [ngClass]="{ 'low-stock': isLowStock(product.stock_qty) }">
        {{ product.stock_qty }}
        <mat-icon *ngIf="isLowStock(product.stock_qty)" color="warn">warning</mat-icon>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'brand', 'stock_qty']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'brand', 'stock_qty']"></tr>
</table>

