<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand text-white" routerLink="/">
      <h5><i class="fa-solid fa-users-gear"></i> Smart-MMS</h5>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/"><i class="fa-solid fa-house"></i> Home</a>
        </li>

        <!-- Products Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" id="employeeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-users"></i> Products </a>
          <ul class="dropdown-menu bg-violet border-violet" aria-labelledby="employeeDropdown">
            <li><a class="dropdown-item text-white" routerLink="allemployees"><i class="fa-solid fa-users"></i>Order</a></li>
            <li><a class="dropdown-item text-white" routerLink="addemployee"><i class="fa-solid fa-user-plus"></i>Purchase</a></li>
          </ul>
        </li>

        <!-- accounts and report -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" id="locationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-location-dot"></i>Accounts</a>
             <ul class="dropdown-menu bg-violet border-violet" aria-labelledby="locationDropdown">
            <li><a class="dropdown-item text-white" routerLink="alllocations"><i class="fa-solid fa-location-dot"></i> Accounts</a></li>
            <li><a class="dropdown-item text-white" routerLink="addlocation"><i class="fa-solid fa-location-dot"></i>Reports </a></li>
          </ul>
        </li>


 <!-- stock and Product service -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" id="locationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-location-dot"></i> stock  </a>
          <ul class="dropdown-menu bg-violet border-violet" aria-labelledby="locationDropdown">
            <li><a class="dropdown-item text-white" routerLink="alllocations"><i class="fa-solid fa-location-dot"></i> stock</a></li>
            <li><a class="dropdown-item text-white" routerLink="addlocation"><i class="fa-solid fa-location-dot"></i> Product return  </a></li>
              <li><a class="dropdown-item text-white" routerLink="addlocation"><i class="fa-solid fa-location-dot"></i> Product service  </a></li>
          </ul>
        </li>

      
 <!-- customer and employee and supplier-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" id="locationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-location-dot"> C & H & S</i>  </a>
          <ul class="dropdown-menu bg-violet border-violet" aria-labelledby="locationDropdown">
            <li><a class="dropdown-item text-white" href="viewallemp"><i class="fa-solid fa-location-dot"></i> CRM</a></li>
            <li><a class="dropdown-item text-white" routerLink="addlocation"><i class="fa-solid fa-location-dot"></i> HRM </a></li>
             <li><a class="dropdown-item text-white" routerLink="addlocation"><i class="fa-solid fa-location-dot"></i> supplier </a></li>
          </ul>
        </li>

      <a routerLink="register"><button class="btn btn-blue mx-1">Registration</button></a>
      <a routerLink="login"><button class="btn btn-blue mx-1">Login</button></a>
      </ul>
    </div>
  </div>
</nav>
