<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <i class="fa-solid fa-users-gear me-2"></i>
      <span>Smart-MMS</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/">
            <i class="fa-solid fa-house me-1"></i> Home
          </a>
        </li>

        <!-- Products Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="productsDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-boxes-stacked me-1"></i> Products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="addorder"><i class="fa-solid fa-box me-2"></i> Order</a></li>
            <li><a class="dropdown-item" routerLink="addpurchase"><i class="fa-solid fa-cart-plus me-2"></i>
                Purchase</a></li>
          </ul>
        </li>

        <!-- Accounts & Reports Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="accountsDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-file-invoice-dollar me-1"></i> Accounts
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="addaccount"><i class="fa-solid fa-wallet me-2"></i> Accounts</a>
            </li>
            <li><a class="dropdown-item" routerLink="addlocation"><i class="fa-solid fa-chart-line me-2"></i>
                Reports</a></li>
          </ul>
        </li>

        <!-- Stock & Product Service Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="stockDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-warehouse me-1"></i> Stock
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="addproduct"><i class="fa-solid fa-box-open me-2"></i> Stock</a></li>
            <li><a class="dropdown-item" routerLink="addreturnproduct"><i class="fa-solid fa-rotate-left me-2"></i> Product
                Return</a></li>
            <li><a class="dropdown-item" routerLink="addrepairproduct"><i class="fa-solid fa-screwdriver-wrench me-2"></i>
                Product Service</a></li>
          </ul>
        </li>

        <!-- CRM, HRM, Supplier Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="crmDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-people-group me-1"></i> Customer / Employee / Supplier
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="viewallcustomer"><i class="fa-solid fa-user-group me-2"></i> Customer</a></li>
            <li><a class="dropdown-item" href="viewallemp"><i class="fa-solid fa-briefcase me-2"></i> Employee</a></li>
            <li><a class="dropdown-item" routerLink="addsupplier"><i class="fa-solid fa-truck-field me-2"></i> Supplier</a></li>
          </ul>
        </li>
      </ul>

      <!-- Right-aligned Buttons -->
      <div class="d-flex">
        <a routerLink="register" class="btn btn-outline-light me-2">
          <i class="fa-solid fa-user-plus me-1"></i> Register
        </a>
        <a routerLink="login" class="btn btn-light text-primary">
          <i class="fa-solid fa-right-to-bracket me-1"></i> Login
        </a>
      </div>
    </div>
  </div>
</nav>