<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand text-light" routerLink="/">
      <h5><i class="fa-solid fa-users-gear"></i> Smart-MMS</h5>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/"><i class="fa-solid fa-house"></i> Home</a>
        </li>

        <!-- Employee Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" routerLink="#" id="employeeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-users"></i> Employee
          </a>
          <ul class="dropdown-menu bg-violet border-violet" aria-labelledby="employeeDropdown">
            <li><a class="dropdown-item text-light" routerLink="allemployees"><i class="fa-solid fa-users"></i> All Employees</a></li>
            <li><a class="dropdown-item text-light" routerLink="addemployee"><i class="fa-solid fa-user-plus"></i> Add Employee</a></li>
          </ul>
        </li>

        <!-- Location Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" routerLink="#" id="locationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-location-dot"></i> Location
          </a>
          <ul class="dropdown-menu bg-violet border-violet" aria-labelledby="locationDropdown">
            <li><a class="dropdown-item text-light" routerLink="alllocations"><i class="fa-solid fa-location-dot"></i> All Locations</a></li>
            <li><a class="dropdown-item text-light" routerLink="addlocation"><i class="fa-solid fa-location-dot"></i> Add Location</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" routerLink="contactus"><i class="fa-solid fa-phone"></i> Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" routerLink="aboutus"><i class="fa-solid fa-users-gear"></i> About Us</a>
        </li>
      </ul>
      <a routerLink="registration"><button class="btn btn-violet mx-1">Registration</button></a>
      <a routerLink="login"><button class="btn btn-violet mx-1">Login</button></a>
    </div>
  </div>
</nav>
