<footer class="footer-modern">
  <div class="footer-container container">
    <div class="footer-about">
      <h5 class="footer-brand text-gradient"><i class="fa-solid fa-globe"></i> SmartWeb</h5>
      <p>Empowering digital experiences with smart, modern solutions. Let's build something great together.</p>
    </div>
    <div class="footer-links">
      <h6>Quick Links</h6>
      <ul>
        <li><a href="#"><i class="fa-solid fa-angle-right"></i> Home</a></li>
        <li><a href="#"><i class="fa-solid fa-angle-right"></i> Services</a></li>
        <li><a href="#"><i class="fa-solid fa-angle-right"></i> Portfolio</a></li>
        <li><a href="#"><i class="fa-solid fa-angle-right"></i> Contact</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h6>Contact</h6>
      <p><i class="fa-solid fa-envelope"></i> hello</p>
      <p><i class="fa-solid fa-phone"></i> +1 234 567 890</p>
      <div class="footer-social">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Smart-MMS. All Rights Reserved.</p>
  </div>
</footer>
