/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body {
  height: 100%;
  margin: 0;
}

main {
  background-color: #f8f9fa;
  min-height: 100%;
}

@media (max-width: 768px) {
  #sidebarMenu {
    width: 100% !important;
    min-height: auto !important;
  }
}
