<h2>Dashboard</h2>

<div class="stats">
  <mat-card>Total Products: {{ totalProducts }}</mat-card>
  <mat-card>Total Stock: {{ totalStock }}</mat-card>
</div>

<div class="charts">
  <div class="chart-box">
    <h3>Stock Level by Product</h3>
    <ngx-charts-bar-vertical
      [results]="stockChartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showDataLabel]="true"
      [scheme]="'vivid'"
      [animations]="true">
    </ngx-charts-bar-vertical>
  </div>

  <div class="chart-box">
    <h3>Brand Distribution</h3>
    <ngx-charts-pie-chart
      [results]="brandPieChartData"
      [legend]="true"
      [explodeSlices]="false"
      [labels]="true"
      [doughnut]="true"
      [scheme]="'cool'"
      [animations]="true">
    </ngx-charts-pie-chart>
  </div>
</div>

