<div class="container">
  <h2>{{ isEditMode ? 'Edit Employee Salary' : 'Add Employee Salary' }}</h2>

  <form [formGroup]="salaryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Employee Name</label>
      <input id="name" type="text" formControlName="name" class="form-control" placeholder="Enter employee name"
        required />
      <div *ngIf="salaryForm.get('name')?.invalid && salaryForm.get('name')?.touched" class="text-danger">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="basicsalary">Basic Salary</label>
      <input id="basicsalary" formControlName="basicsalary" type="number" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="bonus">Bonus</label>
      <input id="bonus" formControlName="bonus" type="number" class="form-control" />
    </div>

    <div class="form-group">
      <label for="allowance">Allowance</label>
      <input id="allowance" formControlName="allowance" type="number" class="form-control" />
    </div>

    <div class="form-group">
      <label for="totalpayable">Total Payable</label>
      <input id="totalpayable" formControlName="totalpayable" type="number" class="form-control" >
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="salaryForm.invalid">
      {{ isEditMode ? 'Update' : 'Save' }}
    </button>
    <button type="button" class="btn btn-secondary ms-2" (click)="resetForm()">Clear</button>
  </form>

  <hr />

  <h3>Employee Salaries</h3>
  <table class="table table-bordered table-striped mt-3">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Basic Salary</th>
        <th>Bonus</th>
        <th>Allowance</th>
        <th>Total Payable</th>
        <th>Actions</th>
      </tr>
    </thead>
   <tbody>
  <tr *ngFor="let emp of empsalaries">
    <td>{{ emp.name }}</td>
    <td>{{ emp.basicsalary }}</td>
    <td>{{ emp.bonus }}</td>
    <td>{{ emp.allowance }}</td>
    <td>{{ emp.totalpayable }}</td>
    <td>
      <button class="btn btn-sm btn-info me-2" (click)="editEmpSalary(emp.id)">Edit</button>
      <button class="btn btn-sm btn-danger" (click)="deleteEmpSalary(emp.id)">Delete</button>
    </td>
  </tr>
</tbody>

  </table>
</div>