<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center bg-white text-dark px-2 py-1 rounded shadow-sm" routerLink="/">
  <img src="https://cdn-icons-png.flaticon.com/512/10869/10869552.png" alt="Smart-MMS Logo" width="40" height="40" class="me-2">
  <span class="fw-bold fs-5">Smart-MMS</span>
</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
         <a class="nav-link text-white fw-bold" routerLink="/">

            <img src="https://cdn-icons-png.flaticon.com/512/1946/1946433.png" width="20" class="me-2" alt="Home Icon"> Home
          </a>
        </li>

        <!-- Products Dropdown -->
       <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown">
    <img src="https://cdn-icons-png.flaticon.com/128/10951/10951869.png" width="20" class="me-2" alt="Tech Icon"> Products
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" routerLink="/addorder">
        <img src="https://cdn-icons-png.flaticon.com/128/1796/1796043.png" width="20" class="me-2" alt="Order Icon"> Order/Sell
      </a>
    </li>
    <li>
      <!-- <a class="dropdown-item" routerLink="ledgerbook">
        <img src="https://cdn-icons-png.flaticon.com/128/9284/9284340.png" width="20" class="me-2" alt="Purchase Icon"> Purchase
      </a> -->
    </li>
     <li>
      <a class="dropdown-item" routerLink="addinventory">
        <img src="https://cdn-icons-png.flaticon.com/128/9284/9284340.png" width="20" class="me-2" alt="Purchase Icon">Add Inventory
      </a>
    </li>
  </ul>
</li>

        <!-- Accounts & Reports Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="accountsDropdown" role="button" data-bs-toggle="dropdown">
            <img src="https://cdn-icons-png.flaticon.com/512/942/942748.png" width="20" class="me-2" alt="Accounts Icon"> Accounts
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="addaccount"><img src="https://cdn-icons-png.flaticon.com/128/1570/1570998.png" width="20" class="me-2"> Accounts</a></li>
           <li><a class="dropdown-item" href=""><img src="https://cdn-icons-png.flaticon.com/128/1055/1055644.png" width="20" class="me-2"> Dues Bills</a></li>
            <!-- <li><a class="dropdown-item" href="showreport"><img src="https://cdn-icons-png.flaticon.com/128/1055/1055644.png" width="20" class="me-2"> Reports</a></li> -->
          </ul>
          
        </li>

        <!-- Stock & Product Service Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="stockDropdown" role="button" data-bs-toggle="dropdown">
            <img src="https://cdn-icons-png.flaticon.com/128/10951/10951884.png" width="20" class="me-2" alt="Stock Icon"> Stock
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="addproduct"><img src="https://cdn-icons-png.flaticon.com/128/10951/10951869.png" width="20" class="me-2"> Stock</a></li>
            <li><a class="dropdown-item" routerLink="addreturnproduct"><img src="https://cdn-icons-png.flaticon.com/512/4064/4064917.png" width="20" class="me-2"> Return Product </a></li>
            <!-- <li><a class="dropdown-item" routerLink="addrepairproduct"><img src="https://cdn-icons-png.flaticon.com/128/14785/14785298.png" width="20" class="me-2"> Product Service</a></li> -->
          </ul>
        </li>

        <!-- CRM, HRM, Supplier Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="crmDropdown" role="button" data-bs-toggle="dropdown">
            <img src="https://cdn-icons-png.flaticon.com/128/921/921347.png" width="20" class="me-2" alt="CRM Icon"> Customer / Employee / Supplier
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="viewallcustomer"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077012.png" width="20" class="me-2"> Customer</a></li>
            <li><a class="dropdown-item" href="viewallemp"><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="20" class="me-2"> Employee</a></li>
            <li><a class="dropdown-item" routerLink="viewallsupplier"><img src="https://cdn-icons-png.flaticon.com/512/3135/3135823.png" width="20" class="me-2"> Supplier</a></li>
          </ul>
        </li>
      </ul>

      <!-- Right-aligned Buttons -->
      <div class="d-flex">
        <a routerLink="register" class="btn btn-outline-light me-2">
          <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" width="18" class="me-1"> Register
        </a>
        <a routerLink="login" class="btn btn-light text-primary">
          <img src="https://cdn-icons-png.flaticon.com/512/992/992651.png" width="18" class="me-1"> Login
        </a>
      </div>
    </div>
  </div>
</nav>
