.bg-ashen {
  background-color: #f8f9fa; /* soft off-white */
}

.bg-muted {
  background-color: #e9ecef; /* light ashen gray */
}

.text-muted {
  color: #6c757d;
}

.text-secondary {
  color: #495057;
}

.border-secondary {
  border-color: #ced4da !important;
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: #fff;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: #fff;
}
